:root {
	--vamt:-370px; /*Bottom: About Me Text, paste this... var(--vamt);  */
}
section:nth-child(2) {
	width: 100%;
	height:100vh;
	background: #162129;
}
/*About me heading*/
h1.ab {
	top:0%;
	position:relative;
	text-align: center;
	font-size: 60px;
	bottom: var(--vamt);
	color: white;
	font-family: 'Open Sans', sans-serif;
	z-index:5;
}
/*About me text*/
p.amt {
	position: relative;
	color: white;
	bottom: var(--vamt);
	font-size: 30px;
 font-family: 'Open Sans', sans-serif;
	-webkit-animation: amtslide 4s 1;
	        animation: amtslide 4s 1;
	left: 50px;
		z-index:5;
}
/*triangle*/
.btri {
	top:100%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 50vh solid #162129;
	border-bottom: 50vh solid #162129;
	border-left: 0px solid transparent;
	border-right: 120px solid transparent;
	width: 51.5%;
	z-index: 3;
}
.rbtri { /*right triangle*/
	top:100%; /*Ensures that it doesn't go above the homepage*/
	position: absolute;
	border-top: 50vh solid #162129;
	border-bottom: 50vh solid #162129;
	border-left: 100px solid transparent;
	border-right: 0px solid transparent;
	width: 15%;
	z-index: 3;
	right:0%;
}
/*The left section of the about me page*/
section.left {
	position: absolute;
	bottom: -100%;
	border-top: 500px solid transparent;
	border-bottom: 500px solid transparent;
	border-left: 0px solid transparent;
	border-right: 100px solid transparent;
	width: 50%;
	z-index: 3;
}
/*about me image*/
.profile {
	z-index: 1; /*z-index must be less than section.left's z-index by 1*/
	position: absolute;
	bottom: -50%;
	height: 100%;
	width: 100%;
	right:0%;
	-o-object-fit: contain;
	   object-fit: contain;
	-o-object-position: 77.5% 100%;
	   object-position: 77.5% 100%; 	/*position with the x/y cordinates, 50% 50% is the default value*/
}
h2.HAI{ /*Hobbies and Interests*/
	position:relative;
	bottom: var(--vamt);
	left: 20px;
	font-size: 60px;
	color:white;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	z-index:5;
}
/*to scroll to the bottom of the page*/
#bp {
	position: absolute;
	bottom: -200%;
}
.Hobbies {
		position: relative;
	color: white;
	bottom: var(--vamt);
	font-size: 30px;
	 font-family: 'Open Sans', sans-serif;
	-webkit-animation: amtslide 4s 1;
	        animation: amtslide 4s 1;
	left: 50px;
	text-align:left;
		z-index:5;
}
/*Animation for About me start*/
@-webkit-keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 50px;}
}
@keyframes amtslide {
	0% {text-align:left; left:-1500px;}
	25%{text-align:left; left:-1000px;}
	50% {text-align:left; left:-500px;}
	100% {bottom: var(--vamt); left: 50px;}
}
/*End*/

