/*Some static navbar CSS are in static.css*/
li a.navbar {
	font-size: 25px;
	color: black;
	/*1st number is the height of the navbar, 2nd number is the spacing between words*/
	padding: 4px 14px;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	float:left;
	text-shadow: 0px 0px 10px rgba(0,0,0,.5);
}
ul.bar {
	background-color: #F5F5F5;
	/*removes the point beside each word*/
	list-style-type:none;
	margin:0px;
	padding:10px;
	overflow: hidden;
	-webkit-box-shadow: 0 5px 35px rgba(0,0,0,.5);
	        box-shadow: 0 5px 35px rgba(0,0,0,.5);
}