a { /*doesn't require a .a, because a is an element*/
	text-decoration:none;
	color:white; /*Let's Chat colour*/
}
img {
/*Prevents the images from being dragged*/
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
/*End*/
 background-size: cover;
 background-position:50% 50%;
}

/*navbar start*/
li.navbar {
	display:inline;
}
.bar {
	top:0px;
	z-index:9999999999999999999999999999999999999999;
	position: fixed;
	/*The length of the Nav Bar*/
	width: 100vw;
}
/*navbar end*/

.htmla:hover .invistt { /*Makes the HTML tooltip bio visible when the HTML logo is hovered*/
  visibility: visible;
}
.cssa:hover .invistt { /*Makes the CSS tooltip bio visible when the CSS logo is hovered*/
  visibility: visible;
}
.pythona:hover .invistt { /*Makes the Python tooltip bio visible when the Python logo is hovered*/
  visibility: visible;
}
.jsa:hover .invistt { /*Makes the Javascript tooltip bio visible when the Javascript logo is hovered*/
  visibility: visible;
}
.Oval:hover .iwb { /*Makes the tooltip text visible when Let's Chat is hovered*/
  visibility: visible;
}
.Oval:hover{ /*Ensures that the oval is absolute*/
  position: absolute;
}

/*Countdown Timer*/
.middle { /*Aligns the timer and format to the center of the page*/
	text-align: center;

}
/*End of Countdown Timer*/